/* NAVIGATION */

h1#name_page { color: white; font-family: "Courier", monospace; float: left; display: inline-block; font-size: 30px; padding-left: 15px; padding-top: 12px; }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 100px;
}


nav li:first-child {
 float: left;
} 

nav li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-top: 41px;
    padding-bottom: 41px;
    text-decoration: none;
    font-size: 25px;
}

li a:hover {
    background-color: #111;
}


/* MAINSTAGE */

div#mainstage { 
    height: 80vh;
    overflow: hidden;
}

div#game {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    visibility: visible;
    position: absolute; /* to overlap */
    top: 25%;
    left: 22%;
}

div#rules {
    width: 1000px;
    margin: 0 auto;
    text-align: center; 
    visibility: hidden;
    position: absolute; /* to overlap */
    height: 600px;
    top: 20%;
    left: 22%;
}

/* RULES DIV */

li.rules { float: left; }


/* POPUP LOGIN */

div#popupLogin {
    width: 100%;
    height: 100%;
    opacity: .95;
    visibility: hidden;
    position: fixed;
    background-color: #313131;
    overflow: auto;
    top: 0;
    left: 0;
}

form#form-login{
    max-width: 300px;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 25%;
}

button#close-login {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    border: 2px solid black;
    background: red;
    z-index: 999;
    position: relative;
    margin-top: 0 auto;
    float: right;
    top: -30px;
    right: -65px;
    color: black;
    font-size: 18px;
    opacity: 0.6;
}

/* GAME */



div.circle_div {
    position: absolute;
    background-size: 100% auto; 
    background-image: url("images/circle.png");
    /* background-color: black; */
    width: 75px;
    height: 75px;
    border-radius: 100%;
}



/*  POPUP SETTINGS */

form#settings-form {
    max-width: 700px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10%;
}


div#settings {
    width: 100%;
    height: 100%;
    opacity: .6;
    visibility: hidden;
    position: fixed;
    background-color: #313131;
    overflow: auto;
    top: 0;
    left: 0;
}


h2.setting { font-weight: 200; }

/* COLUMNS */

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type { margin-left: 23px; }

/* CLEARFIX */

.cf:after {
    content: " "; 
    display: table;
}

.cf:after {
    clear: both;
}

/* FORM */

.form .columns input, .form .first input, .form .dificulty input{ /* hide the original boxes */
    display: none;
}

.label{
    position: relative;
    color: white;
    background-color: gray;
    font-size: 26px;
    text-align: center;
    text-align: 
    height: 100px;
    /*line-height: 150px; */
    display: block;
    cursor: pointer;
    border: 3px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 30%; 
    margin-bottom: 10px;
}

.form .columns input:checked + label, .form .first input:checked + label, .form .dificulty input:checked + label{ /* selected label */
    border: 3px solid #333;
    background-color: black;
}

.form .columns input:checked + label:after, .form .first input:checked + label:after, .form .dificulty input:checked + label:after{ /* selected icon */
    content: "\2713";
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    border: 2px solid white;
    background-color: #2fcc71;
    z-index: 999;
    position: absolute;
    top: -10px;
    right: -10px;
}

button#close-settings {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    border: 2px solid black;
    background: red;
    z-index: 999;
    position: relative;
    top: -10px;
    right: -10px;
    float: right;
    margin-top: 0 auto;
    color: black;
    font-size: 18px;
}

.submit{
    padding: 15px 60px;
    display: inline-block;
    border: none;
    margin: 20px 0;
    background-color: black;
    color: white;
    border: 2px white;
    font-size: 18px;
    margin-left: 23px;
}

.submit:hover{
    cursor: pointer;
}

input#n_columns { border: 2px solid black; height: 25px; display: inline; margin-left: 25px; }



/* DIV SCORE  */

div#score {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    visibility: hidden;
    position: absolute; /* to overlap */
    top: 25%;
    left: 40%;
}

table.scores thead tr { font-weight: bold; }