div#head { height: 100px; }

body { background-color: white; }

h1#name { color: white; font-family: "Courier", monospace; float: left; display: inline-block; font-size: 30px; padding-top: 12px; padding-left: 10px; }

nav#mainNav { font-family: "Courier", monospace; display: inline; height: 150px; }

div#blank { width: 400px; height: 150px; }

a#nav_float { float: right; } 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 100px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-top: 41px;
    padding-bottom: 41px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}





div#logotipo { height: 250px; display: block; }

div#menu { display: inline-block; float: left; height: 400px; width: 300px; }

div#center { height: 500px; color: white; margin-top: 20px; }

#logotipo_picture { float: left; height: 200px; margin-left: 15px; border: 3px solid black; }

#logotipo_name { float: left; padding-left: 30px; padding-top: 15px; font-size: 70px; font-family: "Courier", monospace; }

ul { list-style: none; }

div#account { color: black; height: 700px; display: inline-block; top: 225px; visibility: hidden; position: fixed; }

div#rules { display: inline-block; float: left; visibility: hidden; height: 400px; position: relative; top: 225px; color: black; width: 600px; float: left;}

div#config { visibility: hidden; display: inline-block; position: fixed; color: black; float: left; }

div#play { height: 700px; display: inline-block; color: black; visibility: hidden; position: relative; float: left; }

table#game_table { height: 400px; color: black; }

.button {

	text-align: center;

	width: 150px;
	height: 50px;
	margin: 10px;

	background: orange;
	color: white;

	border-radius: 15px;
	border-width: 2px;
	border-style: outset;

}

.circle {
	width: 60px;
	height: 60px;
}

.table {
	display: inline-block;
	float: left;
	color: black;
	text-align: center;
	border: 1px solid black;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
	height: 350px;
	margin-left: 50px;
	margin-right: 50px;
	transform: rotate(-180deg);
}

.input_retirar{
	width: 15px;
}

input.input_retirar { clear: right; display: inline-block; float: left; margin-left: 83px; }

button.button_retirar { display: inline-block; clear: right; float: right; }

div.retirar { height: 150px; float: left; display: inline-block; width: 200px; padding-top: 15px; }

div#retirar { display: inline; float: left; height: 150px; }

button#button_new_game { 

	text-align: center;

	width: 150px;
	height: 50px;
	margin: 10px;

	background: blue;
	color: white;

	border-radius: 15px;
	border-width: 2px;
	border-style: outset;

	margin-right: 30px;
	margin-left: 200px; 
}

button#button_pc_move { 

	text-align: center;

	width: 150px;
	height: 50px;
	margin: 10px;

	background: green;
	color: white;

	border-radius: 15px;
	border-width: 2px;
	border-style: outset;

	margin-right: 200px;
	margin-left: 30px; 
}